<!DOCTYPE html>
<html ng-app="Grapevime" ng-init="currentUser=<%= current_user.to_json %>" >
<head>
  <title>Grapevime</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='user_nav'>
    Link my:
    <% if current_user.nil? || current_user.twitter_id.nil? %>
      <%= link_to "Twitter", "/auth/twitter"%>
    <% else  %>
      <%= link_to " @#{current_user.twitter_nickname}", "#" %>
    <% end %>
    <% unless current_user.nil? %>
      <%= link_to " Sign out", signout_path %>
    <% end%>
  </div>

<%= yield %>
  
  <%= javascript_include_tag "application" %>
</body>
</html>